.view-details {
    background: rgba(0, 0, 0, 0.15);
    bottom: 0;
    left: 260px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 0;
    @include transition(width 0.3s ease-in-out);

    &.active {
        width: 260px;
    }

    .room-details {
        width: 260px;
    }
}
