.view-maps {
    position: fixed;
    top: 0px;
    left: 265px;
    right: 0px;
    bottom: 0px;
    white-space: nowrap;

    .map-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        padding: 20px;
        @include transform(translateY(-10%) scale(0.5));
        @include transition(all 0.5s ease-in-out);

        &.active {
            opacity: 1;
            @include transform(translateY(0) scale(1));
        }

        &:before {
            content: '';
            height: 100%;
            display: inline-block;
            margin-left: -5px;
            vertical-align: middle;
        }

        .map {
            display: inline-block;
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }
    }
}

.map svg .walls {
    polygon, polyline, line {
        fill: none;
        stroke: rgba(255, 255, 255, 0.75);
        stroke-width: 2;
        /* stroke-miterlimit: 0; */
        stroke-linejoin: miter;
    }
}
