.view-search {
    background: rgba(0, 0, 0, 0.33);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 260px;

    form {
        padding: 20px 20px 0;

        input[type="text"] {
            @include box-sizing(border-box);
            @include transition(border 0.15s ease-in-out);
            background: transparent url('/../static/images/magnifier-white.png') no-repeat 13px 15px;
            height: 49px;
            line-height: 49px;
            text-indent: 49px;
            width: 100%;
            border: 1px solid rgba(#fff, 0.3);
            /* border-bottom-color: rgba(121, 121, 121, 0.5); */
            border-width: 1px;
            font-size: 26px;
            border-radius: 1px;
            color: #f2f2f2;
            font-weight: 300;

            &:focus {
                outline: none;
                border-color: rgba(#fff, 0.5);
            }
        }
    }

    .filters {
        padding: 0 20px 20px;
        @extend %clearfix;

        a {
            @include box-sizing(border-box);
            @include transition(background 0.15s ease-in-out);
            display: inline-block;
            float: left;
            text-align: center;
            padding: 10px;
            font-size: 18px;
            font-weight: 300;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            width: (100%/3);

            &:hover {
                background: rgba(#fff, 0.08);
            }

            &.active {
                background: rgba(#fff, 0.2);
            }
        }
    }

    .list {
        bottom: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        right: 0px;
        top: 130px;

        .list-item {
            cursor: pointer;
            width: 100%;
            list-style: none;
            font-size: 25px;
            line-height: 51px;
            margin: 0;
            padding: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            a {
                color: #fff;
                display: block;
                text-decoration: none;
                padding: 0 10px 0 20px;

                &:hover {
                    background: rgba(#fff, 0.08);
                }

                &.active {
                    background: rgba(#fff, 0.2);
                }
            }
        }
    }
}
