@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

body {
    background: #40524f;
    color: #fff;

    @include media(tablet) {
        background-image: url('/../static/images/bg.jpg');
    }
}

body,
input,
textarea {
    font-family: 'Source Sans Pro', sans-serif;
}
