@mixin media($type) {
    @if $type == smartphone-big {
        @media (min-width: 480px) {
            @content;
        }
    } @else if $type == tablet {
        @media (min-width: 768px) {
            @content;
        }
    } @else if $type == tablet-only {
        @media (min-width: 768px) and (max-width: 1023px) {
            @content;
        }
    } @else if $type == web {
        @media (min-width: 1024px) {
            @content;
        }
    } @else if $type == wide-web {
        @media (min-width: 1200px) {
            @content;
        }
    } @else if $type == retina {
        @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (-o-min-device-pixel-ratio: 3/2),
        only screen and (min--moz-device-pixel-ratio: 1.5),
        only screen and (min-device-pixel-ratio: 1.5) {
            @content;
        }
    }
}

%clearfix {
    @include clearfix;
}
