<form class="search-form" name="search">
    <input type="text" class="search-query" name="query" placeholder="Search" autocomplete="off"/>
</form>

<div class="filters">
    <a class="active" href="#" data-floor="-1">All</a>
    <a href="#" data-floor="4">4th</a>
    <a href="#" data-floor="6">6th</a>
</div>

<div class="view-search-results"></div>
