<style>
    li {
        display: none;
    }
    .item-visible {
        display: block;
    }
</style>
<ul class="search-results list">
    <% items.each(function(item) { %>
    <li class="list-item<% if(item.isVisible()) { %>  item-visible<% } %>" data-id="<%= item.getId() %>">
        <a href="#!/room/<%= item.getId() %>" title="">
            <%= item.getDisplayName() %>
        </a>
    </li>
    <% }); %>
</ul>
